@use "sass:list";
@use "sass:color";
@use "../../styles" as *;

@mixin bcColors($grays) {
  $gray1: list.nth($grays, 1);
  $gray2: list.nth($grays, 2);
  $gray3: list.nth($grays, 3);
  $gray4: list.nth($grays, 4);

  text {
    fill: $gray1;
  }
  color: $gray1;
  background: $gray3;
  .tsi-barChartSVG {
    .tsi-baseLine {
      stroke: $gray1;
    }
    .tsi-focusLine {
      stroke: $gray2;
    }
    .aggregateLabelBox {
      fill: $gray3;
    }
  }
  @include chartColors($grays);
}

.tsi-barChart {
  &.tsi-dark {
    $grays: grays("dark");
    @include bcColors($grays);
    .tsi-resizeGutter {
      background-image: url(./../../icons/drag_handle_dark.svg);
    }
  }
  &.tsi-light {
    $grays: grays("light");
    @include bcColors($grays);
    .tsi-resizeGutter {
      background-image: url(./../../icons/drag_handle_light.svg);
    }
  }

  text {
    font-size: 12px;
  }
  display: flex;
  position: relative;
  .tsi-barChartSVG {
    .tsi-valueElement {
      cursor: pointer;
      stroke: none;
    }
    .tsi-focusLine {
      stroke-width: 1px;
      pointer-events: none;
    }
  }

  .tsi-sliderWrapper {
    position: absolute;
    height: 55px;
    bottom: 8px;
    right: 0px;
    width: 100%;
  }
  .tsi-stackedButton {
    &.tsi-lightTheme {
      background-image: url(../../icons/Layer_Icon_Light_Theme.svg);
    }
    &.tsi-darkTheme {
      background-image: url(../../icons/Layer_Icon_Dark_Theme.svg);
    }
  }
}
