@use "sass:list";
@use "sass:color";
@use "../../styles" as *;

@mixin pcColors($grays) {
    $gray1: list.nth($grays, 1); // text
    $gray2: list.nth($grays, 2); // hover
    $gray3: list.nth($grays, 3); // element
    $gray4: list.nth($grays, 4); // background

    color: $gray1;
    background: $gray3;

    .tsi-pieChartSVG {
        text {
            fill: $gray1;
        }

        path {
            stroke: $gray1;
        }
    }

    @include chartColors($grays);
}


.tsi-pieChart {
    display: flex;
    position: relative;

    &.tsi-dark {
        $grays: grays('dark');
        @include pcColors($grays);

        .tsi-resizeGutter {
            background-image: url(./../../Icons/drag_handle_dark.svg);
        }
    }

    &.tsi-light {
        $grays: grays('light');
        @include pcColors($grays);

        .tsi-resizeGutter {
            background-image: url(./../../Icons/drag_handle_light.svg);
        }
    }

    .tsi-sliderWrapper {
        position: absolute;
        height: 55px;
        bottom: 8px;
        right: 0px;
        width: 100%;
    }
}